<!DOCTYPE html>
<html>
<head>
  <title>Quakeout</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyD2BYEFD6CtmZfdICTnmv7_U4ZPEgEwsko&sensor=false" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
